@charset "UTF-8";
/*  IMAGES  */
/* 默认颜色 */
/* 主题颜色放入 minxin-themeColors.scss
$color-primary: $palette-indigo-500 !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-accent: $palette-pink-A200 !default;
*/
/* 客户化 */
/* 波纹效果 */
/* 动画 */
/* 阴影 */
/* ==========  字体  ========== */
/* 控件 */
/* UButton */
/* UText */
/*  Navlayout  */
/* gridlayout */
/* menu */
/* CHECKBOX */
/*  Radio  */
/* Switch  */
/* loading */
/* datetimepicker */
/* message */
/* DATA TABLE */
/* tooltip*/
/* 进度条 */
/* ==========  Content Tabs  ========== */
/* CARD */
/* Card dimensions */
/* Cover image */
/* ==========  Card  ========== */
/* ============ Forms ============*/
/* BADGE */
/* Typography */
/* Shadows */
/* Animations */
.u-counter-content {
  position: relative; }

.u-counter {
  text-align: center; }
  .u-counter > .u-counter-number,
  .u-counter .u-counter-number-group {
    color: rgb(66,66,66);
    font-size: 20px; }

.u-counter-label {
  display: block; }

.u-counter-icon {
  font-size: 20px; }

.u-counter-lg > .u-counter-number,
.u-counter-lg .u-counter-number-group {
  font-size: 40px; }

.u-counter-lg .u-counter-icon .uf {
  font-size: 40px; }

.u-counter-md > .u-counter-number,
.u-counter-md .u-counter-number-group {
  font-size: 30px; }

.u-counter-md .u-counter-icon .uf {
  font-size: 30px; }

.u-counter-sm > .u-counter-number,
.u-counter-sm .u-counter-number-group {
  font-size: 14px; }

.u-counter-sm .u-counter-icon .uf {
  font-size: 14px; }

.u-counter-sm .u-counter-number-related + .u-counter-number,
.u-counter-sm .u-counter-number + .u-counter-number-related {
  margin-left: 0; }

.u-counter-inverse {
  color: rgb(255,255,255); }
  .u-counter-inverse > .u-counter-number,
  .u-counter-inverse .u-counter-number-group {
    color: rgb(255,255,255); }
  .u-counter-inverse .u-counter-icon {
    color: rgb(255,255,255); }

.font-size-60 .uf {
  font-size: 60px; }

.u-counter-watermark {
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 1;
  opacity: .1; }

.u-counter-watermark.darker {
  color: #000; }

@charset "UTF-8";
/*  IMAGES  */
/* 默认颜色 */
/* 主题颜色放入 minxin-themeColors.scss
$color-primary: $palette-indigo-500 !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-accent: $palette-pink-A200 !default;
*/
/* 客户化 */
/* 波纹效果 */
/* 动画 */
/* 阴影 */
/* ==========  字体  ========== */
/* 控件 */
/* UButton */
/* UText */
/*  Navlayout  */
/* gridlayout */
/* menu */
/* CHECKBOX */
/*  Radio  */
/* Switch  */
/* loading */
/* datetimepicker */
/* message */
/* DATA TABLE */
/* tooltip*/
/* 进度条 */
/* ==========  Content Tabs  ========== */
/* CARD */
/* Card dimensions */
/* Cover image */
/* ==========  Card  ========== */
/* ============ Forms ============*/
/* BADGE */
/* Typography */
/* Shadows */
/* Animations */
.img-rounded {
  border-radius: 4px; }

.img-circle {
  border-radius: 50%; }

.img-bordered {
  padding: 3px;
  border: 1px solid #e0e0e0; }

.img-bordered-primary {
  border-color: rgb(63,81,181); }

.img-bordered-orange {
  border-color: rgb(255,152,0); }

.img-bordered-green {
  border-color: rgb(76,175,80); }

.u-thumbnail a > img {
  margin-right: auto;
  margin-left: auto; }

.u-thumbnail a > img {
  display: block;
  max-width: 100%;
  height: auto; }

.u-thumbnail > img {
  margin-right: auto;
  margin-left: auto; }

.u-thumbnail > img {
  display: block;
  max-width: 100%;
  height: auto; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

img {
  vertical-align: middle;
  border: 0; }

.u-thumbnail {
  display: block;
  margin-bottom: 22px;
  line-height: 1.57142857;
  background-color: #fff;
  border-radius: 3px;
  padding: 0;
  border: none;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }
  .u-thumbnail .u-caption {
    position: relative;
    display: block;
    padding: 9px;
    padding-right: 0;
    padding-left: 0;
    color: #757575; }

.ac_results {
  padding: 0px;
  border: 1px solid WindowFrame;
  background-color: Window;
  overflow: hidden; }

.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0; }

.ac_results iframe {
  display: none;
  /*sorry for IE5*/
  display/**/: block;
  /*sorry for IE5*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: mask();
  width: 3000px;
  height: 3000px; }

.ac_results li {
  margin: 0px;
  padding: 2px 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  font: menu;
  font-size: 12px;
  overflow: hidden; }

.ac_over {
  background-color: Highlight;
  color: HighlightText; }

@charset "UTF-8";
/*  IMAGES  */
/* 默认颜色 */
/* 主题颜色放入 minxin-themeColors.scss
$color-primary: $palette-indigo-500 !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-accent: $palette-pink-A200 !default;
*/
/* 客户化 */
/* 波纹效果 */
/* 动画 */
/* 阴影 */
/* ==========  字体  ========== */
/* 控件 */
/* UButton */
/* UText */
/*  Navlayout  */
/* gridlayout */
/* menu */
/* CHECKBOX */
/*  Radio  */
/* Switch  */
/* loading */
/* datetimepicker */
/* message */
/* DATA TABLE */
/* tooltip*/
/* 进度条 */
/* ==========  Content Tabs  ========== */
/* CARD */
/* Card dimensions */
/* Cover image */
/* ==========  Card  ========== */
/* ============ Forms ============*/
/* BADGE */
/* Typography */
/* Shadows */
/* Animations */
.u-nav {
  display: flex;
  display: block \9;
  flex-wrap: nowrap;
  box-sizing: border-box; }

.u-nav-link {
  color: rgb(66,66,66);
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  margin: 0; }
  .u-nav-link .uf, .u-nav-link .fa {
    vertical-align: middle; }

.u-navlayout {
  width: 100%;
  height: 100%;
  display: flex;
  display: block \9;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch; }

.u-navlayout.is-small-screen .u-navlayout-large-screen-only {
  display: none; }

.u-navlayout:not(.is-small-screen) .u-navlayout-small-screen-only {
  display: none; }

.u-navlayout-container {
  position: absolute;
  width: 100%;
  height: 100%; }

.u-navlayout-title {
  display: block;
  float: left \9;
  position: relative;
  font-family: "Microsoft YaHei", "Helvetica", "Arial", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 44px; }

.u-navlayout-spacer {
  flex-grow: 1; }

.u-navlayout-drawer {
  display: flex;
  display: none \9;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 240px;
  height: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14), 0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.2), 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0.125rem 0.125rem 0 black, 0 0.1875rem 0.0625rem -0.125rem black, 0 0.0625rem 0.3125rem 0 black \9;
  box-sizing: border-box;
  border-right: 1px solid rgb(224,224,224);
  background: rgb(250,250,250);
  transform: translateX(-250px);
  transform-style: preserve-3d;
  will-change: transform;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
  color: rgb(66,66,66);
  overflow: visible;
  overflow-y: auto;
  z-index: 5; }
  .u-navlayout-drawer.is-visible {
    transform: translateX(0);
    display: block \9; }
    .u-navlayout-drawer.is-visible ~ .u-navlayout-content.u-navlayout-content {
      overflow: hidden; }
  .u-navlayout-drawer > * {
    flex-shrink: 0; }
  .u-navlayout-drawer > .u-navlayout-title {
    line-height: 44px;
    padding-left: 40px;
    float: none \9; }
    @media screen and (max-width: 1024px) {
      .u-navlayout-drawer > .u-navlayout-title {
        line-height: 56px;
        padding-left: 16px; } }
  .u-navlayout-drawer .u-nav {
    flex-direction: column;
    align-items: stretch;
    padding-top: 16px;
    padding-left: 0; }
    .u-navlayout-drawer .u-nav ul {
      padding-left: 0; }
    .u-navlayout-drawer .u-nav .u-nav-sub {
      transition: max-height 0.5s cubic-bezier(0.35, 0, 0.25, 1);
      webkit-transition: max-height 0.5s cubic-bezier(0.35, 0, 0.25, 1);
      max-height: 0;
      overflow: hidden; }
      .u-navlayout-drawer .u-nav .u-nav-sub .u-nav-link {
        padding-left: 69px; }
      .u-navlayout-drawer .u-nav .u-nav-sub .u-nav-sub .u-nav-link {
        padding-left: 96px; }
    .u-navlayout-drawer .u-nav .u-nav-link {
      display: block;
      flex-shrink: 0;
      padding: 16px 40px;
      margin: 0;
      color: #757575; }
      @media screen and (max-width: 1024px) {
        .u-navlayout-drawer .u-nav .u-nav-link {
          padding: 16px 16px; } }
      .u-navlayout-drawer .u-nav .u-nav-link:hover {
        background-color: rgb(245,245,245); }
      .u-navlayout-drawer .u-nav .u-nav-link-current {
        background-color: rgb(238,238,238);
        color: rgb(66,66,66);
        font-weight: bold; }
      .u-navlayout-drawer .u-nav .u-nav-link .uf-caretdown, .u-navlayout-drawer .u-nav .u-nav-link .fa-caret-down {
        webkit-transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out; }
      .u-navlayout-drawer .u-nav .u-nav-link-open .uf-caretdown, .u-navlayout-drawer .u-nav .u-nav-link-open .fa-caret-down {
        transform: rotate(180deg); }
      .u-navlayout-drawer .u-nav .u-nav-link-open + .u-nav-sub {
        max-height: 999px; }
  @media screen and (min-width: 1025px) {
    .u-navlayout-fixed-drawer > .u-navlayout-drawer {
      transform: translateX(0); } }

.u-navlayout-drawer-button {
  display: block;
  position: absolute;
  height: 48px;
  width: 48px;
  border: 0;
  flex-shrink: 0;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  font-size: 26px;
  line-height: 50px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 10px 12px;
  top: 0;
  left: 0;
  color: rgb(255,255,255);
  z-index: 4; }
  .u-navlayout-header .u-navlayout-drawer-button {
    position: absolute;
    color: rgb(255,255,255);
    background-color: inherit; }
    @media screen and (max-width: 1024px) {
      .u-navlayout-header .u-navlayout-drawer-button {
        margin: 4px; } }
  @media screen and (max-width: 1024px) {
    .u-navlayout-drawer-button {
      margin: 4px;
      color: rgba(0, 0, 0, 0.5); } }
  @media screen and (min-width: 1025px) {
    .u-navlayout-fixed-drawer > .u-navlayout-drawer-button {
      display: none; }
    .u-navlayout-no-desktop-drawer-button .u-navlayout-drawer-button {
      display: none; } }
  .u-navlayout-no-drawer-button .u-navlayout-drawer-button {
    display: none; }

.u-navlayout-header {
  display: flex;
  display: block \9;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  min-height: 44px;
  max-height: 1000px;
  z-index: 3;
  background-color: rgb(63,81,181);
  color: rgb(255,255,255);
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14), 0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.2), 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0.125rem 0.125rem 0 black, 0 0.1875rem 0.0625rem -0.125rem black, 0 0.0625rem 0.3125rem 0 black \9;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: max-height, box-shadow; }
  @media screen and (max-width: 1024px) {
    .u-navlayout-header {
      min-height: 56px; } }
  .u-navlayout-fixed-drawer.is-upgraded:not(.is-small-screen) > .u-navlayout-header {
    margin-left: 240px;
    width: calc(100% - 240px); }
  @media screen and (min-width: 1025px) {
    .u-navlayout-fixed-drawer > .u-navlayout-header .u-navlayout-header-row {
      padding-left: 40px; } }
  .u-navlayout-header > .u-navlayout-icon {
    position: absolute;
    left: 40px;
    top: 6px;
    height: 32px;
    width: 32px;
    overflow: hidden;
    z-index: 3;
    display: block; }
    @media screen and (max-width: 1024px) {
      .u-navlayout-header > .u-navlayout-icon {
        left: 16px;
        top: 12px; } }
  .u-navlayout.has-drawer .u-navlayout-header > .u-navlayout-icon {
    display: none; }
  .u-navlayout-header.is-compact {
    max-height: 44px; }
    @media screen and (max-width: 1024px) {
      .u-navlayout-header.is-compact {
        max-height: 56px; } }
  .u-navlayout-header.is-compact.has-tabs {
    height: 92px; }
    @media screen and (max-width: 1024px) {
      .u-navlayout-header.is-compact.has-tabs {
        min-height: 104px; } }
  @media screen and (max-width: 1024px) {
    .u-navlayout-header {
      display: none; }
    .u-navlayout-fixed-header > .u-navlayout-header {
      display: flex;
      display: block \9; } }

.u-navlayout-header-transparent {
  background-color: transparent;
  box-shadow: none; }

.u-navlayout-header .seamed {
  box-shadow: none; }

.u-navlayout-header .scroll {
  box-shadow: none; }

.u-navlayout-header .waterfall {
  box-shadow: none;
  overflow: hidden; }
  .u-navlayout-header .waterfall.is-casting-shadow {
    box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14), 0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.2), 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0.125rem 0.125rem 0 black, 0 0.1875rem 0.0625rem -0.125rem black, 0 0.0625rem 0.3125rem 0 black \9; }
  .u-navlayout-header .waterfall.u-navlayout-header-waterfall-hide-top {
    justify-content: flex-end; }

.u-navlayout-header-row {
  display: flex;
  display: block \9;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  box-sizing: border-box;
  align-self: stretch;
  align-items: center;
  height: 44px;
  margin: 0;
  padding: 0 40px 0 80px; }
  .u-navlayout-no-drawer-button .u-navlayout-header-row {
    padding-left: 40px; }
  @media screen and (min-width: 1025px) {
    .u-navlayout--no-desktop-drawer-button .u-navlayout-header-row {
      padding-left: 40px; } }
  @media screen and (max-width: 1024px) {
    .u-navlayout-header-row {
      height: 56px;
      padding: 0 16px 0 72px; }
      .u-navlayout--no-drawer-button .u-navlayout-header-row {
        padding-left: 16px; } }
  .u-navlayout-header-row > * {
    flex-shrink: 0; }
  .u-navlayout-header .scroll .u-navlayout-header-row {
    width: 100%; }
  .u-navlayout-header-row .u-nav {
    margin: 0;
    padding: 0;
    height: 44px;
    flex-direction: row;
    align-items: center;
    float: right \9; }
    @media screen and (max-width: 1024px) {
      .u-navlayout-header-row .u-nav {
        height: 56px; } }
  .u-navlayout-header-row .u-nav-link {
    display: block;
    display: inline-block;
    color: rgb(255,255,255);
    line-height: 44px;
    padding: 0 24px; }
    @media screen and (max-width: 1024px) {
      .u-navlayout-header-row .u-nav-link {
        line-height: 56px;
        padding: 0 16px; } }

.u-navlayout-obfuscator {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  visibility: hidden;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .u-navlayout-obfuscator.is-visible {
    background-color: rgba(0, 0, 0, 0.5);
    background-color: black \9;
    visibility: visible; }

.u-navlayout-content {
  -ms-flex: 0 1 auto;
  position: relative;
  display: inline-block;
  display: block \9;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  -webkit-overflow-scrolling: touch; }
  .u-navlayout-fixed-drawer .u-navlayout-content {
    margin-left: 240px; }
  .u-navlayout-container.has-scrolling-header .u-navlayout-content {
    overflow: visible; }
  @media screen and (max-width: 1024px) {
    .u-navlayout-fixed-drawer > .u-navlayout-content {
      margin-left: 0; }
    .u-navlayout-container.has-scrolling-header .u-navlayout-content {
      overflow-y: auto;
      overflow-x: hidden; } }

.u-navlayout-tab-bar {
  height: 96px;
  margin: 0;
  width: calc(100% - 112px);
  padding: 0 0 0 56px;
  display: flex;
  display: block \9;
  background-color: rgb(63,81,181);
  overflow-y: hidden;
  overflow-x: scroll; }
  .u-navlayout-tab-bar::-webkit-scrollbar {
    display: none; }
  .u-navlayout-no-drawer-button .u-navlayout-tab-bar {
    padding-left: 16px;
    width: calc(100% - 32px); }
  @media screen and (min-width: 1025px) {
    .u-navlayout-no-desktop-drawer-button .u-navlayout-tab-bar {
      padding-left: 16px;
      width: calc(100% - 32px); } }
  @media screen and (max-width: 1024px) {
    .u-navlayout-tab-bar {
      width: calc(100% - 60px);
      padding: 0 0 0 60px; }
      .u-navlayout-no-drawer-button .u-navlayout-tab-bar {
        width: calc(100% - 8px);
        padding-left: 4px; } }
  .u-navlayout-fixed-tabs .u-navlayout-tab-bar {
    padding: 0;
    overflow: hidden;
    width: 100%; }

.u-navlayout-tab-bar-container {
  position: relative;
  height: 48px;
  width: 100%;
  border: none;
  margin: 0;
  z-index: 2;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden; }
  .u-navlayout-container > .u-navlayout-tab-bar-container {
    position: absolute;
    top: 0;
    left: 0; }

.u-navlayout-tab-bar-button {
  display: inline-block;
  position: absolute;
  top: 0;
  height: 48px;
  width: 56px;
  z-index: 4;
  text-align: center;
  background-color: rgb(63,81,181);
  color: transparent;
  cursor: pointer;
  user-select: none; }
  .u-navlayout-no-desktop-drawer-button .u-navlayout-tab-bar-button,
  .u-navlayout-no-drawer-button .u-navlayout-tab-bar-button {
    width: 16px; }
    .u-navlayout-no-desktop-drawer-button .u-navlayout-tab-bar-button .uf, .u-navlayout-no-desktop-drawer-button .u-navlayout-tab-bar-button .fa,
    .u-navlayout-no-drawer-button .u-navlayout-tab-bar-button .uf,
    .u-navlayout-no-drawer-button .u-navlayout-tab-bar-button .fa {
      position: relative;
      left: -4px; }
  @media screen and (max-width: 1024px) {
    .u-navlayout-tab-bar-button {
      display: none;
      width: 60px; } }
  .u-navlayout-fixed-tabs .u-navlayout-tab-bar-button {
    display: none; }
  .u-navlayout-tab-bar-button .uf, .u-navlayout-tab-bar-button .fa {
    line-height: 48px; }
  .u-navlayout-tab-bar-button.is-active {
    color: rgb(255,255,255); }

.u-navlayout-tab-bar-left-button {
  left: 0; }

.u-navlayout-tab-bar-right-button {
  right: 0; }

.u-navlayout-tab {
  margin: 0;
  border: none;
  padding: 0 24px 0 24px;
  float: left;
  position: relative;
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(255,255,255, 0.6);
  overflow: hidden; }
  @media screen and (max-width: 1024px) {
    .u-navlayout-tab {
      padding: 0 12px 0 12px; } }
  .u-navlayout-fixed-tabs .u-navlayout-tab {
    float: none;
    flex-grow: 1;
    padding: 0; }
  .u-navlayout.is-upgraded .u-navlayout-tab.is-active {
    color: rgb(255,255,255); }
  .mdl-layout.is-upgraded .u-navlayout-tab.is-active::after {
    height: 2px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0;
    left: 0;
    position: absolute;
    background: rgb(67,160,71);
    animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) 0.01s alternate forwards;
    transition: all 1s cubic-bezier(0.4, 0, 1, 1); }
  .u-navlayout-tab .mdl-layout__tab-ripple-container {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden; }
    .u-navlayout-tab .mdl-layout__tab-ripple-container .mdl-ripple {
      background-color: rgb(255,255,255); }

.u-navlayout-tab-panel {
  display: block; }
  .u-navlayout.is-upgraded .u-navlayout-tab-panel {
    display: none; }
  .u-navlayout.is-upgraded .u-navlayout-tab-panel.is-active {
    display: block; }

.u-navlayout-fixed-drawer > .u-navlayout-drawer {
  display: block \9; }

.u-navlayout > .u-navlayout-header {
  margin-left: 240px \9; }

@charset "UTF-8";
/*  IMAGES  */
/* 默认颜色 */
/* 主题颜色放入 minxin-themeColors.scss
$color-primary: $palette-indigo-500 !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-accent: $palette-pink-A200 !default;
*/
/* 客户化 */
/* 波纹效果 */
/* 动画 */
/* 阴影 */
/* ==========  字体  ========== */
/* 控件 */
/* UButton */
/* UText */
/*  Navlayout  */
/* gridlayout */
/* menu */
/* CHECKBOX */
/*  Radio  */
/* Switch  */
/* loading */
/* datetimepicker */
/* message */
/* DATA TABLE */
/* tooltip*/
/* 进度条 */
/* ==========  Content Tabs  ========== */
/* CARD */
/* Card dimensions */
/* Cover image */
/* ==========  Card  ========== */
/* ============ Forms ============*/
/* BADGE */
/* Typography */
/* Shadows */
/* Animations */
.u-menu-container {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  overflow: visible;
  height: 0;
  width: 0;
  visibility: hidden;
  z-index: -1;
  font-family: "Microsoft YaHei", "Helvetica", "Arial", sans-serif; }
  .u-menu-container.is-visible, .u-menu-container.is-animating {
    z-index: 999;
    visibility: visible; }

.u-menu-outline {
  display: block;
  background: rgb(255,255,255);
  margin: 0;
  padding: 0;
  border: 1px solid rgb(224,224,224);
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  transform: scale(0);
  transform-origin: 0 0;
  border: 1px solid rgb(224,224,224) \9;
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1; }
  .u-menu-container.is-visible .u-menu-outline {
    opacity: 1;
    transform: scale(1);
    z-index: 999; }
  .u-menu-outline.u-menu-bottom-right {
    transform-origin: 100% 0; }
  .u-menu-outline.u-menu-top-left {
    transform-origin: 0 100%; }
  .u-menu-outline.u-menu-top-right {
    transform-origin: 100% 100%; }

.u-menu {
  position: absolute;
  list-style: none;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  min-width: 87px;
  padding: 8px 0;
  margin: 0;
  opacity: 0;
  clip: rect(0 0 0 0);
  z-index: -1; }
  .u-menu-container.is-visible .u-menu {
    opacity: 1;
    z-index: 999; }
  .u-menu.is-animating {
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), clip 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
  .u-menu.u-menu-bottom-right {
    left: auto;
    right: 0; }
  .u-menu.u-menu-top-left {
    top: auto;
    bottom: 0; }
  .u-menu.u-menu-top-right {
    top: auto;
    left: auto;
    bottom: 0;
    right: 0; }
  .u-menu.u-menu-unaligned {
    top: auto;
    left: auto; }

.u-menu-item {
  display: block;
  border: none;
  color: rgba(0,0,0, 0.87);
  color: rgb(0,0,0) \9;
  background-color: transparent;
  text-align: left;
  margin: 0;
  padding: 0 15px;
  outline-color: rgb(107,202,234);
  position: relative;
  overflow: hidden;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0;
  text-decoration: none;
  cursor: pointer;
  height: 28px;
  line-height: 28px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none; }
  .u-menu-container.is-visible .u-menu-item {
    opacity: 1; }
  .u-menu-item::-moz-focus-inner {
    border: 0; }
  .u-menu-item-full-bleed-divider {
    border-bottom: 1px solid rgba(0,0,0, 0.12); }
  .u-menu-item[disabled], .u-menu-item[data-u-disabled] {
    color: rgb(189,189,189);
    background-color: transparent;
    cursor: auto; }
    .u-menu-item[disabled]:hover, .u-menu-item[data-u-disabled]:hover {
      background-color: transparent; }
    .u-menu-item[disabled]:focus, .u-menu-item[data-u-disabled]:focus {
      background-color: transparent; }
    .u-menu-item[disabled] .mdl-ripple, .u-menu-item[data-u-disabled] .mdl-ripple {
      background: transparent; }
  .u-menu-item:hover {
    background-color: rgb(233,247,252); }
  .u-menu-item:focus {
    outline: none;
    background-color: rgb(196,234,246); }
  .u-menu-item:active {
    background-color: rgb(196,234,246); }
  .u-menu-item a {
    line-height: 1.57142857;
    color: rgb(51,51,51);
    white-space: nowrap;
    text-decoration: none;
    color: #333; }

.u-menu__item--ripple-container {
  display: block;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
  overflow: hidden; }

.u-right-icon {
  margin-left: 10px; }

.u-right-icon.uf-anglearrowdown {
  font-family: 12px; }

.u-split {
  height: 24px;
  border: 1px solid rgb(224,224,224);
  width: 107px; }
  .u-split .u-button {
    box-shadow: none;
    padding: 0px; }
  .u-split .u-split-pre {
    border-right: 1px dashed rgb(224,224,224);
    width: 80%;
    height: 100%; }
  .u-split .u-split-sub {
    width: 20%;
    height: 100%; }
    .u-split .u-split-sub button {
      width: 100%;
      height: 100%;
      min-width: 0px; }

.u-button-group {
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .u-button-group .u-button-group {
    float: left; }
  .u-button-group .u-button {
    float: left; }

.u-menu-wrap {
  position: relative; }

.u-menu-primary .u-menu-item:hover {
  background-color: rgb(92,107,192); }
  .u-menu-primary .u-menu-item:hover a {
    color: #FFFFFF; }

.u-menu-primary .u-menu-item:focus {
  outline: none;
  background-color: rgb(63,81,181); }
  .u-menu-primary .u-menu-item:focus a {
    color: #FFFFFF; }

.u-menu-success .u-menu-item:hover {
  background-color: rgb(102,187,106); }
  .u-menu-success .u-menu-item:hover a {
    color: #FFFFFF; }

.u-menu-success .u-menu-item:focus {
  outline: none;
  background-color: rgb(76,175,80); }
  .u-menu-success .u-menu-item:focus a {
    color: #FFFFFF; }

.u-menu-info .u-menu-item:hover {
  background-color: rgb(38,198,218); }
  .u-menu-info .u-menu-item:hover a {
    color: #FFFFFF; }

.u-menu-info .u-menu-item:focus {
  outline: none;
  background-color: rgb(0,188,212); }
  .u-menu-info .u-menu-item:focus a {
    color: #FFFFFF; }

.u-menu-warning .u-menu-item:hover {
  background-color: rgb(255,167,38); }
  .u-menu-warning .u-menu-item:hover a {
    color: #FFFFFF; }

.u-menu-warning .u-menu-item:focus {
  outline: none;
  background-color: rgb(255,152,0); }
  .u-menu-warning .u-menu-item:focus a {
    color: #FFFFFF; }

.u-menu-danger .u-menu-item:hover {
  background-color: rgb(239,83,80); }
  .u-menu-danger .u-menu-item:hover a {
    color: #FFFFFF; }

.u-menu-danger .u-menu-item:focus {
  outline: none;
  background-color: rgb(244,67,54); }
  .u-menu-danger .u-menu-item:focus a {
    color: #FFFFFF; }

.u-menu-dark .u-menu-item:hover {
  background-color: rgb(117,117,117); }
  .u-menu-dark .u-menu-item:hover a {
    color: #FFFFFF; }

.u-menu-dark .u-menu-item:focus {
  outline: none;
  background-color: rgb(97,97,97); }
  .u-menu-dark .u-menu-item:focus a {
    color: #FFFFFF; }

@charset "UTF-8";
/*  IMAGES  */
/* 默认颜色 */
/* 主题颜色放入 minxin-themeColors.scss
$color-primary: $palette-indigo-500 !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-accent: $palette-pink-A200 !default;
*/
/* 客户化 */
/* 波纹效果 */
/* 动画 */
/* 阴影 */
/* ==========  字体  ========== */
/* 控件 */
/* UButton */
/* UText */
/*  Navlayout  */
/* gridlayout */
/* menu */
/* CHECKBOX */
/*  Radio  */
/* Switch  */
/* loading */
/* datetimepicker */
/* message */
/* DATA TABLE */
/* tooltip*/
/* 进度条 */
/* ==========  Content Tabs  ========== */
/* CARD */
/* Card dimensions */
/* Cover image */
/* ==========  Card  ========== */
/* ============ Forms ============*/
/* BADGE */
.u-tabs {
  display: block;
  width: 100%; }

.u-tabs__tab-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  align-items: flex-start;
  height: 48px;
  padding: 0 0 0 0;
  margin: 0;
  border-bottom: 1px solid rgb(224,224,224); }

.u-tabs__tab {
  margin: 0;
  border: none;
  padding: 0 24px 0 24px;
  float: left;
  position: relative;
  display: block;
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0,0,0, 0.54);
  overflow: hidden; }
  .u-tabs__tab:hover:after {
    border-bottom-color: #bdbdbd; }
  .u-tabs.is-upgraded .u-tabs__tab.is-active {
    color: rgba(0,0,0, 0.87); }
  .u-tabs.is-upgraded .u-tabs__tab.is-active:after {
    height: 2px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0px;
    left: 0px;
    position: absolute;
    background: rgb(63,81,181);
    animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) 0.01s alternate forwards;
    transition: all 1s cubic-bezier(0.4, 0, 1, 1); }
  .u-tabs__tab .u-tabs__ripple-container {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
    overflow: hidden; }
    .u-tabs__tab .u-tabs__ripple-container .u-ripple {
      background: rgb(63,81,181); }

.u-tabs-pill .u-tabs__tab:not(.is-active):hover {
  text-decoration: none;
  background-color: #eee; }

.u-tabs.is-upgraded .u-tabs-pill .u-tabs__tab.is-active {
  background-color: rgb(63,81,181);
  color: #FFFFFF; }
  .u-tabs.is-upgraded .u-tabs-pill .u-tabs__tab.is-active:after {
    height: 0px; }

.u-tabs-pill .u-tabs__tab.is-active {
  color: #fff !important;
  background-color: #3f51b5; }

.u-tabs__panel {
  display: block; }
  .u-tabs.is-upgraded .u-tabs__panel {
    display: none; }
  .u-tabs.is-upgraded .u-tabs__panel.is-active {
    display: block; }

@keyframes border-expand {
  0% {
    opacity: 0;
    width: 0; }
  100% {
    opacity: 1;
    width: 100%; } }

.u-tabs__tab-bar-left {
  height: 150px; }
  .u-tabs__tab-bar-left > div {
    float: left; }
  .u-tabs__tab-bar-left .u-tabs__panel {
    margin-left: 30px; }
  .u-tabs__tab-bar-left > :first-child {
    margin-left: 0;
    width: 80px;
    height: 100%;
    display: inline-block !important; }
  .u-tabs__tab-bar-left a {
    width: 80px;
    float: left;
    display: block; }
  .u-tabs__tab-bar-left .u-tabs__tab-bar {
    border: none !important; }
  .u-tabs__tab-bar-left.is-upgraded .u-tabs__tab.is-active:after {
    height: 100%;
    width: 2px;
    left: 98%; }

.animation-slide-left {
  -webkit-animation-name: slide-left;
  -o-animation-name: slide-left;
  animation-name: slide-left; }

.animation-slide-right {
  -webkit-animation-name: slide-right;
  -o-animation-name: slide-right;
  animation-name: slide-right; }

.animation-slide-top {
  -webkit-animation-name: slide-top;
  -o-animation-name: slide-top;
  animation-name: slide-top; }

.animation-slide-bottom {
  -webkit-animation-name: slide-bottom;
  -o-animation-name: slide-bottom;
  animation-name: slide-bottom; }

[class*=animation-] {
  -webkit-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-o-keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes slide-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-o-keyframes slide-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slide-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-o-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-o-keyframes slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@charset "UTF-8";
/*  IMAGES  */
/* 默认颜色 */
/* 主题颜色放入 minxin-themeColors.scss
$color-primary: $palette-indigo-500 !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-accent: $palette-pink-A200 !default;
*/
/* 客户化 */
/* 波纹效果 */
/* 动画 */
/* 阴影 */
/* ==========  字体  ========== */
/* 控件 */
/* UButton */
/* UText */
/*  Navlayout  */
/* gridlayout */
/* menu */
/* CHECKBOX */
/*  Radio  */
/* Switch  */
/* loading */
/* datetimepicker */
/* message */
/* DATA TABLE */
/* tooltip*/
/* 进度条 */
/* ==========  Content Tabs  ========== */
/* CARD */
/* Card dimensions */
/* Cover image */
/* ==========  Card  ========== */
/* ============ Forms ============*/
/* BADGE */
/* Typography */
/* Shadows */
/* Animations */
/*.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 2000;
  display: block;
  max-width: $tooltip-max-width;
  padding: $tooltip-padding;
  margin: $tooltip-margin 0;
  color: $tooltip-color;
  text-align: center;
  text-transform: none;
  background: $tooltip-background;
  border-radius: $tooltip-border-radius;
  transition: $animation-curve-default $tooltip-animation-duration transform;
  transform: scale(0) ;
  transform-origin: top left;
  &.active {
    transform: scale(1) ;
  }
}*/
.tooltip {
  position: absolute;
  z-index: 1900;
  display: block;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.57142857;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;
  line-break: auto; }

.tooltip.active {
  filter: alpha(opacity=1);
  opacity: 1;
  filter: alpha(opacity=100) \9; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.tooltip.top .tooltip-arrow {
  bottom: -4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #3f51b5; }

.tooltip.right .tooltip-arrow {
  top: 50%;
  margin-top: -4px;
  left: -4px;
  border-width: 4px 4px 4px 0px;
  border-right-color: #3f51b5; }

.tooltip.left .tooltip-arrow {
  right: -4px;
  top: 50%;
  border-width: 4px 0px 4px 4px;
  border-left-color: #3f51b5;
  margin-top: -4px; }

.tooltip.bottom .tooltip-arrow {
  left: 50%;
  top: -4px;
  border-width: 0px 4px 4px 4px;
  border-bottom-color: #3f51b5;
  margin-left: -4px; }

.tooltip .tooltip-inner {
  color: #fff;
  background-color: #3f51b5; }

.tooltip-inner {
  max-width: 200px;
  padding: 6px 12px;
  text-align: center;
  border-radius: 3px; }

.tooltip-primary .tooltip-inner {
  background-color: rgb(63,81,181) !important; }

.tooltip-primary.bottom .tooltip-arrow {
  border-bottom-color: rgb(63,81,181) !important; }

.tooltip-primary.top .tooltip-arrow {
  border-top-color: rgb(63,81,181) !important; }

.tooltip-primary.left .tooltip-arrow {
  border-left-color: rgb(63,81,181) !important; }

.tooltip-primary.right .tooltip-arrow {
  border-right-color: rgb(63,81,181) !important; }

.tooltip-success .tooltip-inner {
  background-color: rgb(76,175,80) !important; }

.tooltip-success.bottom .tooltip-arrow {
  border-bottom-color: rgb(76,175,80) !important; }

.tooltip-success.top .tooltip-arrow {
  border-top-color: rgb(76,175,80) !important; }

.tooltip-success.left .tooltip-arrow {
  border-left-color: rgb(76,175,80) !important; }

.tooltip-success.right .tooltip-arrow {
  border-right-color: rgb(76,175,80) !important; }

.tooltip-info .tooltip-inner {
  background-color: rgb(0,188,212) !important; }

.tooltip-info.bottom .tooltip-arrow {
  border-bottom-color: rgb(0,188,212) !important; }

.tooltip-info.top .tooltip-arrow {
  border-top-color: rgb(0,188,212) !important; }

.tooltip-info.left .tooltip-arrow {
  border-left-color: rgb(0,188,212) !important; }

.tooltip-info.right .tooltip-arrow {
  border-right-color: rgb(0,188,212) !important; }

.tooltip-warning .tooltip-inner {
  background-color: rgb(255,152,0) !important; }

.tooltip-warning.bottom .tooltip-arrow {
  border-bottom-color: rgb(255,152,0) !important; }

.tooltip-warning.top .tooltip-arrow {
  border-top-color: rgb(255,152,0) !important; }

.tooltip-warning.left .tooltip-arrow {
  border-left-color: rgb(255,152,0) !important; }

.tooltip-warning.right .tooltip-arrow {
  border-right-color: rgb(255,152,0) !important; }

.tooltip-danger .tooltip-inner {
  background-color: rgb(244,67,54) !important; }

.tooltip-danger.bottom .tooltip-arrow {
  border-bottom-color: rgb(244,67,54) !important; }

.tooltip-danger.top .tooltip-arrow {
  border-top-color: rgb(244,67,54) !important; }

.tooltip-danger.left .tooltip-arrow {
  border-left-color: rgb(244,67,54) !important; }

.tooltip-danger.right .tooltip-arrow {
  border-right-color: rgb(244,67,54) !important; }

.tooltip-dark .tooltip-inner {
  background-color: rgb(97,97,97) !important; }

.tooltip-dark.bottom .tooltip-arrow {
  border-bottom-color: rgb(97,97,97) !important; }

.tooltip-dark.top .tooltip-arrow {
  border-top-color: rgb(97,97,97) !important; }

.tooltip-dark.left .tooltip-arrow {
  border-left-color: rgb(97,97,97) !important; }

.tooltip-dark.right .tooltip-arrow {
  border-right-color: rgb(97,97,97) !important; }
