<div class="u-container-fluid u-widget-bg">
    <div class="u-row">
        <div class="u-col-12">
            <div class="u-widget">
                <!-- 模拟内容 -->
                <div style="height:300px;line-height:300px;text-align: center;">
                    12
                </div>
            </div>
        </div>
    </div>
    <div class="u-row">
        <div class="u-col-12">
            <div class="u-widget">
                <!-- 模拟内容 -->
                <div style="height:300px;line-height:300px;text-align: center;">
                    12
                </div>
            </div>
        </div>
    </div>
    <div class="u-row">
        <div class="u-col-12">
            <div class="u-row">
                <div class="u-col-6">
                    <div class="u-widget u-widget-left">
                        <!-- 模拟内容 -->
                        <div style="height:300px;line-height:300px;text-align: center;">
                            6
                        </div>
                    </div>
                </div>
                <div class="u-col-6">
                    <div class=" u-widget u-widget-right">
                        <!-- 模拟内容 -->
                        <div style="height:300px;line-height:300px;text-align: center;">
                            6
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="u-row">
        <div class="u-col-12">
            <div class="u-row">
                <div class="u-col-3">
                    <div class="u-widget u-widget-left">
                        <!-- 模拟内容 -->
                        <div style="height:300px;line-height:300px;text-align: center;">
                            3
                        </div>
                    </div>
                </div>
                <div class="u-col-3">
                    <div class=" u-widget u-widget-middle">
                        <!-- 模拟内容 -->
                        <div style="height:300px;line-height:300px;text-align: center;">
                            3
                        </div>
                    </div>
                </div>
                <div class="u-col-3">
                    <div class=" u-widget u-widget-middle">
                        <!-- 模拟内容 -->
                        <div style="height:300px;line-height:300px;text-align: center;">
                            3
                        </div>
                    </div>
                </div>
                <div class="u-col-3">
                    <div class=" u-widget u-widget-right">
                        <!-- 模拟内容 -->
                        <div style="height:300px;line-height:300px;text-align: center;">
                            3
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
