.banner{
	width: 100%;
	overflow: hidden;
	background-color: #0088cc;
}
.banner-content {
	margin: 0 auto;
	padding: 30px 0 10px 0;
	color: #fff;
}
.banner-content h1 {
	font-size: 30px;
}
.templateTabs{
    display: none;
}
.banner-content p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
}
.u-bottom-button{
	position: relative;
	display: block;
	width: 100%;
	font-size: 30px;
	line-height: 1;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #007ae3;
	color: #FFFFFF;
	padding: 10px 20px;
}
.u-bottom-button:hover{
	background: #1874CD;
}

.tree-whole-div{
	border-bottom:1px dotted #666666;
	padding: 20px 50px;
}

.tree-icon{
	position: relative;
	color: #007ae3;
	left: -15px;
}
.tree-parent{
	width: 50%;
	padding-right: 30px;
	height: auto;
}

.tree-leaf{
	height: auto;
	display: block;
	float: left;
}
@media (min-width: 992px){
	.u-col-md-4 {
		width: 33.33333%;
	}
}
.tree-first-leaf{
	display: inline-block;
    left: 0;
}

.color-whole-div{
	padding: 20px 30px;
}

.color-head-div{
	padding-bottom:20px;
}

.color-input-div{
	padding-bottom:20px;
}

.color-input{
    margin-right: 10%;
    min-width: 70px;
    width: 15%;
    padding-top: 0;
    padding-bottom: 0;
}

.color-content-div{
	display: block;
}

.color-left-div{
    width: 50%;
    display: inline-block;
}

.color-right-div{
	display: inline-block;
    left: 0;
    width: 50%;
}

.color-div{
	display: inline-block;
	width: 100px;
	height: 20px;
}

.eval-whole-div{
	position: relative;
	padding: 20px 50px;
}

.eval-head-div{
	padding-bottom:20px;
}

.u-eval-button{
	position: absolute;
	right:50px;
	top:10px;
	display: block;
}
.btn-whole{
	position: relative;
	padding: 20px 50px;
}
.title{
	padding: 20px 30px;
}
.tree-icon-color{
	position: relative;
	color: #007ae3;
	left: 30px;
}
.navAttrs {
    width: 200px;
    float: left;
    padding-bottom: 20px;
}
.navAttrsBoxList {
    margin: 0 0 1px 0;
    padding: 0;
    list-style: none;
}
.navAttrsBoxList dt {
    background: #eee;
    padding: 0 0 0 20px;
    line-height: 40px;
    font-size: 14px;
    color: #333;
    margin-bottom: 0;
    position: relative;
}
.navAttrsBoxList dt i {
    display: inline-block;
    height: 0;
    width: 0;
    font-size: 0;
    border-width: 8px;
    border-style: solid;
    border-color: #999 transparent transparent transparent;
    position: absolute;
    right: 15px;
    top: 18px;
    border-radius: 2px;
}
.navAttrsBoxList dd {
    margin: 0;
    padding: 0;
    display: none;
}
.u-page-left{
	float: left;
}
.u-page-content{
    /*margin-left: 230px;*/
    overflow: hidden;
}
.templateListHead {
    /*background: #f5f5f5;*/
    overflow: hidden;
    padding-left: 5px;
}
.templateTabs a.active {
    background: #fff;
    border-bottom: 2px solid #E78E1F;
}
.templateTabs a {
    display: inline-block;
    line-height: 38px;
    border-bottom: 2px solid transparent;
    padding: 0 20px;
    float: left;
    color: #333;
}
.templateListStyle {
    float: right;
}
.templateListStyle_2:hover i:after, .templateListStyle_2:hover i:before, .templateListStyle_2.active i:after, .templateListStyle_2.active i:before, .templateListStyle a.active {
    background: #E78E1F;
    color: #fff;
}
.templateListStyle_1:hover i:after, .templateListStyle_1:hover i:before, .templateListStyle_1.active i:after, .templateListStyle_1.active i:before, .templateListStyle a.active {
    background: #E78E1F;
    color: #fff;
}
.templateListStyle a {
    display: inline-block;
    width: 40px;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
}
.templateListStyle a i {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: #ccc;
}
.u-main-container{
	margin: 20px;
	min-height: 400px;
}
.templateList {
    padding-bottom: 60px;
}
.templateListLayout_1 > ul {
    margin-left: -30px;
}
.templateList>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.templateListLayout_1.templateList > ul > li {
    width: 50%;
    float: left;
}
.templateList>ul>li {
    padding: 30px 0 0 0;
}
.templateListLayout_1 .templateListBox {
    margin-left: 30px;
}
.clearfix {
}
.templateListPic {
    width: 465px;
    float: left;
}

.templateListBox {
    border: 1px solid #f5f5f5;
    margin-right: 2px;
}
.templateListLayout_1 .templateListPic {
    width: auto;
    float: none;
}
.templateListLayout_1 .templatePicBox {
    padding: 25px 0;
}
.templateListMain {
    margin-left: 465px;
    background: #F5F5F5;
    padding: 20px;
    position: relative;
}
.templatePicBox {
    padding: 45px 0;
    margin: 0 auto;
    position: relative;
    max-width: 433px;
}
.templatePicPc {
    height: 250px;
    background: url(../img/t_bg.png) no-repeat;
    position: relative;
    z-index: 1;
    text-align: center;
}
.templatePicPc a {
    display: block;
    width: 333px;
    height: 215px;
    overflow: hidden;
    padding: 12px 0 0 50px;
    box-sizing: content-box;
}
.templatePicPc img {
    width: 100%;
}
img {
    border: medium none;
    vertical-align: middle;
    max-width: 100%;
}

.templatePicPhone {
    height: 178px;
    width: 86px;
    background: url(../images/t_bg.png) no-repeat right 0;
    position: absolute;
    z-index: 2;
    bottom: 45px;
    right: 3px;
}


.templatePicPhone a {
    display: block;
    width: 70px;
    height: 125px;
    overflow: hidden;
    padding: 26px 0 0 8px;
    box-sizing: content-box;
}
.templateListLayout_1 .templateInfoBtn .btn_1 {
    line-height: 40px;
}
.templateInfoBtn .btn_1 {
    line-height: 45px;
}
.btn_1:hover {
    color: #fff;
    background: #0294E1;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
.templateListLayout_1 .templateInfoBtn {
    padding: 0;
}
.templateListLayout_1 .templateInfoBtn {
    text-align: center;
}
.templateInfoBtn {
    padding: 30px 0 0 0;
}
.templateListLayout_1 .templateInfoBtn{
	margin-bottom: 10px;
}
.templateListLayout_1 .templateInfo{
	display: none;
}
.templateListLayout_1 .templateLisHead{
	display: none;
}
.templateListLayout_1 .templateListMain{
	margin-left: 0;
}
.btn_1 {
    display: inline-block;
    background: #3BB7FD;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    padding: 0 40px;
}
.templateLisHead {
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.templateListTitle {
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 600;
}
h4 {
    font-size: 25px;
}
.templateListTitle a {
    color: #333;
}
.templateListNumber {
    padding-left: 5px;
}
.templateInfo {
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.templateInfoBox {
    width: 50%;
    float: left;
}
.templateInfoList {
    margin: 0;
    list-style: none;
    padding: 0;
}
.templateInfoList li.left {
    float: left;
    width: 85px;
    line-height: 45px;
}
.templateInfoList li.right {
    margin-left: 85px;
    line-height: 20px;
    padding: 13px 0;
    color: #999;
}
.templateSpeInfo{
    display: none;
}
.templateListLayout_1 .templateSpeInfo{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.templateListLayout_1 .templateSpeInfo span{
    font-size: 14px;
    color: #3BB7FD;
    text-align: center;
}
.templateListStyle_1,.templateListStyle_2, i:before {
     -webkit-transition: all .5s; 
    -o-transition: all .5s;
    -ms-transition: all .5s;
     transition: all .5s; 
}
.templateListStyle a:hover{
    background: #E78E1F;
    color: #fff;
}