<div class="u-container-fluid u-widget-bg">
    <div class="u-row">
        <div class="u-col-md-4">
            <div class="u-widget u-widget-left">
                <div class="u-widget-heading">
                    <h3 class="u-widget-title">雪花的快乐<a class="u-link u-widget-more">更多</a></h3>
                </div>
                <div class="u-widget-body">
                  <p>假若我是一朵雪花，</p>
                  <p>翩翩的在半空里潇洒，</p>
                  <p>我一定认清我的方向</p>
                  <p>——飞扬，飞扬，飞扬，</p>
                  <p>这地面上有我的方向。</p>
                </div>
                <div class="u-widget-footer">------徐志摩</div>
            </div>
        </div>
        <div class="u-col-md-4">
            <div class="u-widget  u-widget-middle">

                <div class="u-widget-heading">
                    <h3 class="u-widget-title">雪花的快乐<a class="u-link u-widget-more">更多</a></h3>
                </div>
                <div class="u-widget-body">
                  <p>假若我是一朵雪花，</p>
                  <p>翩翩的在半空里潇洒，</p>
                  <p>我一定认清我的方向</p>
                  <p>——飞扬，飞扬，飞扬，</p>
                  <p>这地面上有我的方向。</p>
                </div>

            </div>
        </div>
        <div class="u-col-md-4">
            <div class="u-widget  u-widget-right">

                <div class="u-widget-heading">
                    <h3 class="u-widget-title">雪花的快乐<a class="u-link u-widget-more">更多</a></h3>
                </div>
                <div class="u-widget-body">
                  <p>假若我是一朵雪花，</p>
                  <p>翩翩的在半空里潇洒，</p>
                  <p>我一定认清我的方向</p>
                  <p>——飞扬，飞扬，飞扬，</p>
                  <p>这地面上有我的方向。</p>
                </div>
            </div>
        </div>
    </div>
</div>
