.u-text{
	padding:0px;
}

.u-input{
	padding:0px;
	border-bottom:0px;
	height:100%;
}

.tooltip{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	background:none;
	transform:none;
	font-weight:400;
	font-size:12px;
}


/*message.less begin*/

.alert-dialog {
  position: fixed;
  width: 500px;
  height: auto;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -160px;
  display: block;
  padding: 0px;
  border-radius: 0px;
  color: #333333;
  background-color: #F2F2F2;
  border-color: #C9C9C9;
}

.alert-dialog h4{
	text-align: center;
	line-height: 20px;
	font-size: 15px;
	background-color: #ffffff;
	padding: 10px 15px;
	border-bottom: 1px solid #C9C9C9;
 }
.alert-dialog h4 span{
	font-size: 18px;
	color: #FF9917;
	position: relative;
	right: 20px;
 }
 .alert-dialog p{	 	
	
	min-height: 90px;
	max-height: 200px;
	padding: 10px 15px;
	text-align: center;
	overflow-y: auto;
 }
  .alert-dialog .close{
	top: 5px;
	right: 14px;
	color: #333333;
 }	
 .alert-dialog-footer{
	
	right:0px;
	left:auto;
 }	
.alert-dialog-footer .btn{
	min-height: 28px !important;
	padding: 0px !important ;			
	vertical-align:top !important;	
	margin: 0px auto !important;		
	border-radius: 0px;
	background-color: #ffffff;
	width: 135px;	
	color: #333333;
	border-color:#C9C9C9;
	 font-family: 'arial','微软雅黑','宋体' !important;		
 }
.alert-dialog-footer .btn-danger{
	background-color:#3385ff;
	color:#ffffff;
} 
.alert-dialog-footer {	
	width:100%; 
	bottom: 0; 
	left:0; 
	padding:10px;
	& div {
		padding: 0 0 0 2px;
	}
	& div:first-child {
		padding: 0 2px 0 0;
	}

}
.alert-dialog-footer:after{
	 	content:"";
	 	display: block;
	 	clear: both;
	 	visibility: hidden;
}

.alert-content {
	
    overflow-y: auto;
}

.move-dialog {
  position: fixed;
  width: 520px;
  height: 260px;
  padding: 10px;
  display: block;
}
.move-dialog .close{
  right: 15px;
  top: 12px;
}
.move-dialog h4{
  padding:15px; 
  padding-bottom: 5px;
  cursor: default;
}
.move-dialog-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px;
}
.move-alert {
  height: 100%;
  border-radius: 0px;
  color: #333333;
  background-color: #F2F2F2;
  border-color: #C9C9C9;
  padding:0px;
}

.dialog_p{
  background-color: #fff;
  bottom: 20px;
  top: 60px;
  left: 25px;
  right: 25px;
  position: absolute;
}

.dialog_iframe{
  border: 1px solid #ccc;
  
  width: 100%;
  height: 100%;
}


/*message.less end*/